version: "3.9"

services:
  portfolio:
    image: portfolio
    container_name: portfolio
    restart: unless-stopped
    networks:
      - proxy_network
    labels:
      caddy: alexander-strudthoff.dev
      caddy.reverse_proxy: "{{upstreams 8080}}"
    ports:
      - "8080:8080"
networks:
  proxy_network:
    external: true
